<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/navigation')%>

    <main
      class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center"
    >
      <section>
        <h1 class="display-1">About</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus
          consequuntur, laboriosam ad quibusdam eveniet officia esse architecto minus
          dignissimos dolores ducimus sequi harum ex aut voluptate ipsam, praesentium ipsa
          dicta minima fuga possimus. Ducimus ratione consectetur iusto, obcaecati, fugit
          debitis dolorem vero cupiditate earum ullam impedit suscipit ipsum numquam quam
          similique eligendi voluptates dolorum! Illo praesentium magni eius, aspernatur
          illum suscipit aperiam voluptatum nesciunt expedita cumque exercitationem
          voluptate ab impedit aliquam, deserunt, quam aut corrupti earum in eos iusto
          tempore? Quisquam in nihil sequi eligendi aliquam! Error blanditiis nam illum,
          velit natus at amet autem quis quas enim odit. At ad sunt esse nemo. Iste, ut
          atque similique error facere quidem nihil pariatur eveniet, cumque quae
          veritatis rerum odit enim sequi saepe soluta itaque nisi expedita sint!
          Corrupti, autem ratione cum veritatis est perferendis dolor. Repudiandae ratione
          recusandae ipsa cumque quibusdam libero deleniti sed consectetur reiciendis
          minus a ut, expedita voluptatem voluptates nostrum voluptatum quae? Ex quisquam
          tempora voluptate, inventore nesciunt, aliquid officia facere tempore quod cum
          perferendis quasi, ipsum nulla labore ad odit ducimus cumque officiis neque
          dolor. Asperiores optio hic rerum, vel error dolor, veniam iusto possimus
          repellat consequatur sint dolorum facilis culpa, repudiandae fugiat a similique
          laborum.
        </p>
      </section>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
